@model K19_CopaDoMundo.Models.ChangePasswordModel

@{
    ViewBag.Title = "Alteração de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Utilize este formulário para alterar a sua senha.</h2>
</hgroup>

<p class="message-info">
        Senhas devem ter no mínimo @Membership.MinRequiredPasswordLength caracteres.
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Alteração de senha</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Alterar senha" />
    </fieldset>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}